.font {
    font-family: "poppins";
    background-color: #f8f9fa;
}

.bg-nav {
    background: linear-gradient(rgba(255, 255, 255, 0.7), white);
}

.banner {
    background: linear-gradient(rgba(255, 255, 255, 0.342),rgba(255, 255, 255, 0.26) 90%, #f8f9fa 100%), url("images/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* font weight */
.fb {
    font-weight: 600;
}

/* text shadow */
.text-shadow-sm {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.text-shadow-lg {
    text-shadow: 3px 3px 6px rgba(0,0,0,0.35);
}

/* scroll margin top */
.smt {
    scroll-margin-top: 30px;
}

/* width  */
.w-10 {
    width: 10%;
}

/* menu */
#menu {
    height: auto;
    background-color: #f8f9fa;
}

/* text menu */
.text-menu {
    color: rgb(172, 163, 163);
}

/* square img card */
.square-img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* card */
.hovered-card .card {
    transition: 0.3s ease;
}

.hovered-card .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}